<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.2.xsd">


	<http pattern="/api/version/basket/**" security="none"/>

	<http auto-config="true">
		<intercept-url pattern="/api/version/products/**,/api/version/orders/**" access="hasRole('ROLE_ADMIN')" />
			<form-login
		         authentication-success-handler-ref="mySuccessHandler"
		         authentication-failure-handler-ref="myFailureHandler"
	      	/>
	      	<custom-filter ref="csrfTokenFilter" after="CSRF_FILTER"/>
	      	<logout/>
	</http>

	

	<beans:bean id="mySuccessHandler"
      class="ru.magora.test.security.MySavedRequestAwareAuthenticationSuccessHandler"/>
   <beans:bean id="myFailureHandler" class=
     "org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler"/>
 
   <authentication-manager alias="authenticationManager">
      <authentication-provider>
         <user-service>
            <user name="admin" password="123" authorities="ROLE_ADMIN"/>
            <user name="user" password="user" authorities="ROLE_USER"/>
         </user-service>
      </authentication-provider>
   </authentication-manager>
    
</beans:beans>